<a href="https://colab.research.google.com/github/viett887g/thongke/blob/main/th%E1%BB%91ngke1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [17]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/gdrive/MyDrive/appsheet/data/BAITAPEXCEL1_23xlsx-5110130-21-11-11/1000 Sales Records.csv')

In [6]:
print(df)

                           Region               Country   Item Type  \
0    Middle East and North Africa                 Libya   Cosmetics
1                   North America                Canada  Vegetables
2    Middle East and North Africa                 Libya   Baby Food
3                            Asia                 Japan      Cereal
4              Sub-Saharan Africa                  Chad      Fruits
..                            ...                   ...         ...
995  Middle East and North Africa            Azerbaijan      Snacks
996                        Europe               Georgia   Baby Food
997  Middle East and North Africa  United Arab Emirates  Vegetables
998                        Europe               Finland   Household
999                        Europe              Portugal      Cereal

    Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0         Offline              M  10/18/2014  686800706  10/31/2014
1          Online              M   11/7/2011  185941302   12/8/2011
2         Offline              C  10/31/2016  246222341   12/9/2016
3         Offline              C   4/10/2010  161442649   5/12/2010
4         Offline              H   8/16/2011  645713555   8/31/2011
..            ...            ...         ...        ...         ...
995       Offline              C   4/18/2010  534085166   4/25/2010
996       Offline              H    8/1/2011  590768182    9/7/2011
997        Online              C   5/12/2011  524363124   6/28/2011
998       Offline              L   1/25/2016  289606320   2/14/2016
999       Offline              C   4/10/2014  811546599    5/8/2014

     Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0          8446      437.20     263.33     3692591.20  2224085.18
1          3018      154.06      90.93      464953.08   274426.74
2          1517      255.28     159.42      387259.76   241840.14
3          3322      205.70     117.11      683335.40   389039.42
4          9845        9.33       6.92       91853.85    68127.40
..          ...         ...        ...            ...         ...
995        6524      152.58      97.44      995431.92   635698.56
996         288      255.28     159.42       73520.64    45912.96
997        9556      154.06      90.93     1472197.36   868927.08
998        9801      668.27     502.54     6549714.27  4925394.54
999        3528      205.70     117.11      725709.60   413164.08

     Total Profit
0      1468506.02
1       190526.34
2       145419.62
3       294295.98
4        23726.45
..            ...
995     359733.36
996      27607.68
997     603270.28
998    1624319.73
999     312545.52

[1000 rows x 14 columns]

In [ ]:
Hiển thị 10 hàng đầu tiên của tập dữ liệu (gợi ý: hàm head() );

In [7]:
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62
3,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
4,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45
5,Europe,Armenia,Cereal,Online,H,11/24/2014,683458888,12/28/2014,9528,205.70,117.11,1959909.60,1115824.08,844085.52
6,Sub-Saharan Africa,Eritrea,Cereal,Online,H,3/4/2015,679414975,4/17/2015,2844,205.70,117.11,585010.80,333060.84,251949.96
7,Europe,Montenegro,Clothes,Offline,M,5/17/2012,208630645,6/28/2012,7299,109.28,35.84,797634.72,261596.16,536038.56
8,Central America and the Caribbean,Jamaica,Vegetables,Online,H,1/29/2015,266467225,3/7/2015,2428,154.06,90.93,374057.68,220778.04,153279.64
9,Australia and Oceania,Fiji,Vegetables,Offline,H,12/24/2013,118598544,1/19/2014,4800,154.06,90.93,739488.00,436464.00,303024.00

In [ ]:
Hiển thị kích thước của tập dữ liệu (gợi ý: shape)

In [8]:
print(df.shape)

(1000, 14)

In [ ]:
Hiển thị danh sách các cột(gợi ý: columns và chuyển cấu trúc Index của các
columns về dạng list bằng hàm ép kiểu list()).

In [9]:
print(df.columns)

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [10]:
print(df.index)

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
3Trích rút dữ liệu:

In [ ]:
Trích rút cột dữ liệu (định tính) – Country của tập dữ liệu, và in ra màn hình 5 hàng
đầu tien của cột này;

In [23]:
temp = df[['Country', "Region", "Country", "Item Type","Sales Channel","Order Priority"]]
print(temp.head(5))

  Country                        Region Country   Item Type Sales Channel  \
0   Libya  Middle East and North Africa   Libya   Cosmetics       Offline
1  Canada                 North America  Canada  Vegetables        Online
2   Libya  Middle East and North Africa   Libya   Baby Food       Offline
3   Japan                          Asia   Japan      Cereal       Offline
4    Chad            Sub-Saharan Africa    Chad      Fruits       Offline

  Order Priority
0              M
1              M
2              C
3              C
4              H

In [ ]:
Trích rút cột dữ liệu (định lượng) – Total Cost của tập dữ liệu và in ra màn hình 5
hàng đầu tien của cột này.

In [26]:
temp = df[['Total Cost',"Order ID",	"Ship Date",	"Units Sold",	"Unit Price","Unit Cost"]]
print(temp.head(5))

   Total Cost   Order ID   Ship Date  Units Sold  Unit Price  Unit Cost
0  2224085.18  686800706  10/31/2014        8446      437.20     263.33
1   274426.74  185941302   12/8/2011        3018      154.06      90.93
2   241840.14  246222341   12/9/2016        1517      255.28     159.42
3   389039.42  161442649   5/12/2010        3322      205.70     117.11
4    68127.40  645713555   8/31/2011        9845        9.33       6.92

In [ ]:
Phân tích thống kê mô tả với tập dữ liệu định lượng:

In [ ]:
Tính các chỉ số thống kê sau và xuất kết quả ra màn hình: (1) Số lớn nhất - max;

In [27]:
print(df.min())

Region                   Asia
Country           Afghanistan
Item Type           Baby Food
Sales Channel         Offline
Order Priority              C
Order Date           1/1/2010
Order ID            102928006
Ship Date            1/1/2013
Units Sold                 13
Unit Price               9.33
Unit Cost                6.92
Total Revenue         2043.25
Total Cost            1416.75
Total Profit           532.61
dtype: object

In [ ]:
(2) Số nhỏ nhất - min;

In [28]:
print(df.max())

Region            Sub-Saharan Africa
Country                     Zimbabwe
Item Type                 Vegetables
Sales Channel                 Online
Order Priority                     M
Order Date                  9/8/2015
Order ID                   995529830
Ship Date                   9/9/2016
Units Sold                      9998
Unit Price                    668.27
Unit Cost                     524.96
Total Revenue             6617209.54
Total Cost                 5204978.4
Total Profit              1726181.36
dtype: object

In [ ]:
(3) Giá trị trung bình - mean

In [29]:
print(df.mean())

Order ID         5.496813e+08
Units Sold       5.053988e+03
Unit Price       2.621068e+02
Unit Cost        1.849651e+02
Total Revenue    1.327322e+06
Total Cost       9.361192e+05
Total Profit     3.912026e+05
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
(4) Giá trị trung vị - median;

In [30]:
print(df.median())

Order ID         5.566097e+08
Units Sold       5.184000e+03
Unit Price       1.540600e+02
Unit Cost        9.744000e+01
Total Revenue    7.549392e+05
Total Cost       4.647261e+05
Total Profit     2.772260e+05
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
(5) Phương sai - variance;

In [ ]:
Độ lệch chuẩn - standard deviation;

In [45]:
x=17

In [48]:
from numpy.ma.core import std
print(df.std())

Order ID         2.571334e+08
Units Sold       2.901375e+03
Unit Price       2.160211e+02
Unit Cost        1.752893e+02
Total Revenue    1.486515e+06
Total Cost       1.162571e+06
Total Profit     3.836402e+05
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [49]:
from numpy.ma.core import var
print(df.var)

<bound method NDFrame._add_numeric_operations.<locals>.var of                            Region               Country   Item Type  \
0    Middle East and North Africa                 Libya   Cosmetics
1                   North America                Canada  Vegetables
2    Middle East and North Africa                 Libya   Baby Food
3                            Asia                 Japan      Cereal
4              Sub-Saharan Africa                  Chad      Fruits
..                            ...                   ...         ...
995  Middle East and North Africa            Azerbaijan      Snacks
996                        Europe               Georgia   Baby Food
997  Middle East and North Africa  United Arab Emirates  Vegetables
998                        Europe               Finland   Household
999                        Europe              Portugal      Cereal

    Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0         Offline              M  10/18/2014  686800706  10/31/2014
1          Online              M   11/7/2011  185941302   12/8/2011
2         Offline              C  10/31/2016  246222341   12/9/2016
3         Offline              C   4/10/2010  161442649   5/12/2010
4         Offline              H   8/16/2011  645713555   8/31/2011
..            ...            ...         ...        ...         ...
995       Offline              C   4/18/2010  534085166   4/25/2010
996       Offline              H    8/1/2011  590768182    9/7/2011
997        Online              C   5/12/2011  524363124   6/28/2011
998       Offline              L   1/25/2016  289606320   2/14/2016
999       Offline              C   4/10/2014  811546599    5/8/2014

     Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0          8446      437.20     263.33     3692591.20  2224085.18
1          3018      154.06      90.93      464953.08   274426.74
2          1517      255.28     159.42      387259.76   241840.14
3          3322      205.70     117.11      683335.40   389039.42
4          9845        9.33       6.92       91853.85    68127.40
..          ...         ...        ...            ...         ...
995        6524      152.58      97.44      995431.92   635698.56
996         288      255.28     159.42       73520.64    45912.96
997        9556      154.06      90.93     1472197.36   868927.08
998        9801      668.27     502.54     6549714.27  4925394.54
999        3528      205.70     117.11      725709.60   413164.08

     Total Profit
0      1468506.02
1       190526.34
2       145419.62
3       294295.98
4        23726.45
..            ...
995     359733.36
996      27607.68
997     603270.28
998    1624319.73
999     312545.52

[1000 rows x 14 columns]>